.nav-link-1 {
    color: #F7B202;
}

.nav-link-1.active {
    color: #fff;
    background-color: #00539F !important;
}

.table-bordered>tbody>tr>td {
    border: 1px solid #c5c1c1 !important;
}

td {
    border: 1px solid #c5c1c1 !important;
}

th {
    border: 1px solid #c5c1c1 !important;
}
.section-title{
font-weight: 400;
margin-bottom: 50px;
text-align: center;
display: block;
color: #00539F;
}
.faculty-title{
color: #00539F;
}

.imgbox{
    text-align: center;
    padding: 25px 15px 10px;
    border: 2px solid #00539F;
    background: #fff;
    margin-bottom: 25px;

}

h3{
    padding-top: 20px;
    font-family: poppins sans-serif;
}

h4{
    font-size: 1rem;
    font-family: poppins sans-serif;
}